.btn {
	cursor: pointer;
	line-height: 2.4rem;
	min-height: 4rem;
	padding: 0.8rem 1.6rem;
	background-color: var(--black);
	color: var(--white);
	border: none;
	border-radius: var(--radius-s);
	transition: background-color 0.3s, color 0.4s;
}
.btn:hover {
	background-color: var(--white);
	color: var(--black);
}
.disabled {
	color: var(--gray);
	background-color: transparent;
	outline: 1px solid var(--gray);
	transition: initial;
	cursor: default;
}
.disabled:hover {
	background-color: transparent;
	color: var(--gray);
}
